
/*×îºóµÄbutton*/
#content-size-OA .bottom-btn .set-first-btn{
    margin-left: 380px;
    margin-top: 20px;color: #ffffff;
}

#content-size-OA .bottom-btn {
    width: 1165px;
    margin-bottom: 42px;
    margin-top: 42px;
    /*margin-left: 480px;*/
}