<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>爱卡汽车OA系统</title>
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/common.css"/>
    <link rel="stylesheet" href="./css/master-index.css"/>
</head>
<body>
          <div id="header">
            <div class="app-header">
                <a href="./index.html" class="fz22 logo-link tcenter">爱卡OA系统</a>
                <div class="nav">
                    <ul>
                        <li>
                            <a href="./index.html">返回首页</a>
                        </li>
                        <li class="user-name">
                            <a href="#">韩寒<i class="user-pic"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            <div id="set-cont">
            <div class="set-menu fl">
                <div class="header-menu">
                    <p class="fz16 cs">自定义菜单</p>
                    <span></span>
                </div>
                <div>
                    <ul id="js_left_menu" class="set-menu-ul">
                        <!--<li class="true">-->
                        <!--<a href="setcenter/corp-baseinfo" class="fz20 left-header"><i class="pic pic_14"></i>系统管理</a>-->
                        <!--<ul class="menu-ul-ul">-->
                        <!--<li class="first-li">-->
                        <!--<span class="button top_docu switch"></span><a class="true" href="setcenter/corp-baseinfo">公司管理</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<span class="button center_docu switch"></span><a class="false" href="setcenter/statisic">工作地管理</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<span class="button center_docu switch"></span><a class="false"-->
                        <!--href="setcenter/pubcontacts">部门管理</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<span class="button center_docu switch"></span><a class="false"-->
                        <!--href="setcenter/pubcontacts">职位管理</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<span class="button center_docu switch"></span><a class="false"-->
                        <!--href="setcenter/pubcontacts">大区管理</a>-->
                        <!--</li>-->
                        <!--<li class="last-li">-->
                        <!--<span class="button bottom_docu switch"></span><a class="false" href="setcenter/uplogin">分组管理</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="false">-->
                        <!--<a href="setcenter/orgperson" class="fz20 left-header"><i class="pic pic_14"></i>用户和角色</a>-->
                        <!--<ul class="menu-ul-ul">-->
                        <!--<li class="first-li"><span class="button top_docu switch"></span><a class="false"-->
                        <!--href="setcenter/orgperson">用户管理</a>-->
                        <!--</li>-->
                        <!--<li class="last-li"><span class="button bottom_docu switch"></span><a class="false"-->
                        <!--href="setcenter/per-quit">角色管理</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="false">-->
                        <!--<a href="setcenter/report-relation" class="fz20 left-header"><i class="pic pic_14"></i>流程管理</a>-->
                        <!--<ul class="menu-ul-ul">-->
                        <!--<li class="first-li"><span class="button top_docu switch"></span><a class="false"-->
                        <!--href="setcenter/report-relation">流程管理设置</a>-->
                        <!--</li>-->
                        <!--<li><span class="button center_docu switch"></span><a class="false"-->
                        <!--href="setcenter/report-relation">流程表单设置</a>-->
                        <!--</li>-->
                        <!--<li class="last-li"><span class="button bottom_docu switch"></span><a class="false"-->
                        <!--href="setcenter/special-relation">审批流程管理</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--</li>-->
                        <li class="true ex">
                            <a href="javascript:void(0)" class="fz20 left-header first_A"><i class="pic pic_14"></i>流程中心</a>
                            <ul class="menu-ul-ul">
                                <li class="first-li"><span class="button top_docu switch"></span><a class="true"
                                                                                                    href="./index.html">发起申请</a>
                                </li>
                                <li><span class="button center_docu switch"></span><a class="false" href="./myApplication.html">我的申请</a>
                                </li>
                                <li><span class="button center_docu switch"></span><a class="false" href="./myShenPi.html">待审批</a>
                                </li>
                                <li class="last-li"><span class="button bottom_docu switch"></span><a class="false" href="./cwSP.html">已审批</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="set-page">
                <div class="page-cont">
                    <div class="set-page-mbx">
                        <span class="set-page-title">当前位置：首页<span style="font-family: 'microsoft yahei'">&nbsp;>&nbsp;</span>发起申请</span>
                    </div>
                    <div>
                        <span class="pass-name">发起申请</span>
                    </div>
                    <!--<div class="search-Bar">-->
                    <!--<span class="search-Bar-name">申请名称</span>-->
                    <!--<input type="text" class="search-input"/><input type="button" value="查询" class="search-button"/>-->
                    <!--</div>-->
                    <div class="set-block">
                        <div class="line-one">
                            <div class="set-block-div">
                                <table class="set-table" cellSpacing=0 >
                                    <thead>
                                    <tr>
                                        <th colspan="2">
                                            <h3><a href="#">财务类（1）</a></h3>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <a href="./Rtj_application.html">报销申请</a>
                                        </td>
                                        <td>
                                            <a href="#"></a>
                                        </td>
                                    </tr>
                                    <!--<tr>-->
                                    <!--<td>-->
                                    <!--<a href="#">异常考勤申请</a>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                    <!--<a href="#">调薪申请</a>-->
                                    <!--</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                    <!--<td>-->
                                    <!--<a href="#">加班申请</a>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                    <!--<a href="#">转正申请</a>-->
                                    <!--</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                    <!--<td>-->
                                    <!--<a href="#">请假申请</a>-->
                                    <!--</td>-->
                                    <!--</tr>-->
                                    </tbody>
                                </table>
                            </div>
                            <!--<div class="set-block-div">-->
                            <!--<table class="set-table" cellSpacing=0 >-->
                            <!--<thead>-->
                            <!--<tr>-->
                            <!--<th colspan="2">-->
                            <!--<h3><a href="#">人事类（7）</a></h3>-->
                            <!--</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr>-->
                            <!--<td>-->
                            <!--<a href="#">离职申请</a>-->
                            <!--</td>-->
                            <!--<td>-->
                            <!--<a href="#">调岗申请</a>-->
                            <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                            <!--<td>-->
                            <!--<a href="#">异常考勤申请</a>-->
                            <!--</td>-->
                            <!--<td>-->
                            <!--<a href="#">调薪申请</a>-->
                            <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                            <!--<td>-->
                            <!--<a href="#">加班申请</a>-->
                            <!--</td>-->
                            <!--<td>-->
                            <!--<a href="#">转正申请</a>-->
                            <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                            <!--<td>-->
                            <!--<a href="#">请假申请</a>-->
                            <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                            <!--</table>-->
                            <!--</div>-->
                        </div>
                        <!--<div class="line-one">-->
                        <!--<div class="set-block-div">-->
                        <!--<table class="set-table" cellSpacing=0 >-->
                        <!--<thead>-->
                        <!--<tr>-->
                        <!--<th colspan="2">-->
                        <!--<h3><a href="#">人事类（7）</a></h3>-->
                        <!--</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                        <!--<td>-->
                        <!--<a href="#">离职申请</a>-->
                        <!--</td>-->
                        <!--<td>-->
                        <!--<a href="#">调岗申请</a>-->
                        <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>-->
                        <!--<a href="#">异常考勤申请</a>-->
                        <!--</td>-->
                        <!--<td>-->
                        <!--<a href="#">调薪申请</a>-->
                        <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>-->
                        <!--<a href="#">加班申请</a>-->
                        <!--</td>-->
                        <!--<td>-->
                        <!--<a href="#">转正申请</a>-->
                        <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>-->
                        <!--<a href="#">请假申请</a>-->
                        <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                        <!--</table>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
</body>
<script id="caidanTemp" type="text/html">
    {{if data_list.length>0}}{{each data_list as item Index}}
    <li class="true ex">
        <a href="javascript:void(0)" class="fz20 left-header first_A"><i class="pic pic_14"></i>{{item.name}}</a>
        <ul class="menu-ul-ul">
            {{each item.items as son_item son_Index}}
            <li
                    {{if son_Index==0}}
                    class="first-li"
                    {{else if son_Index==3}}
                    class="last-li"
                    {{/if}}><span
                {{if son_Index==0}}
                class="button top_docu switch"
                {{else if son_Index==3}}
                class="button bottom_docu switch"
                {{else}}
                class="button center_docu switch"
                {{/if}}
                ></span><a
                {{if son_Index==0}}
                class="true"
                {{else}}
                class="false"
                {{/if}} href={{son_item.pageUrl}}>{{son_item.name}}</a>
            </li>
            {{/each}}
        </ul>
    </li>
    {{/each}}{{/if}}
</script>
<script src="./javascript/plugins/xcaroa_plugincore.js"></script>
<!--<script src="javascript/plugins/jquery-1.7.1.min.js"></script>-->
<!--<script src="javascript/plugins/template.js"></script>-->
<script src="./javascript/plugins/seajs-text.js"></script>
<script type="text/javascript">
    $(function(){
        //页面初始化
//        var pageInit = function () {
        //获取流程菜单
//            var getProcNameList = function () {

//                getProcNameList();
//            }
//        }
//        pageInit();
    })
</script>
<script type="text/javascript">
    seajs.config({
        timeout:20000,
        charset: 'utf-8',
        debug:true
    })
    seajs.use("./javascript/activity/pageInit")
</script>
</html>